In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Descriptive Stats

In [2]:
df1 = pd.DataFrame(dict(id=range(6), age = np.random.randint(18,31, size = 6)))
df1

   id  age
0   0   18
1   1   25
2   2   20
3   3   24
4   4   28
5   5   21

In [3]:
df1.age.mean()

22.666666666666668

In [4]:
df1.mean()

id      2.500000
age    22.666667
dtype: float64

In [5]:
df1['age'].mean()

22.666666666666668

In [6]:
df1.age.median()

22.5

In [7]:
df1.age.mode()

0    18
1    20
2    21
3    24
4    25
5    28
dtype: int32

In [8]:
df1.age.var()

13.466666666666665

In [9]:
df1.age.std()

3.669695718539436

Range

In [10]:
rangge = df1.age.max()  - df1.age.min()
rangge

10

# Skewness Kurtosis

In [11]:
df1['age'].skew()

0.2522668486056039

In [12]:
df1['age'].kurt()

-0.9447603176159198

# Infrential

In [13]:
population = np.random.randint(10,20,1000)
# np.random.seed(10)

estimates = []
for x in range(200):
    sample = np.random.choice(a = population, size = 100)
    estimates.append(sample.mean())

In [14]:
np.mean(population)

14.382