In [2]:
import pandas as pd
from scipy import stats

In [3]:
# Create dataframe with two extreme values
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy', 'Bob', 'Jack', 'Jill', 'Kelly', 'Mark', 'Kao', 'Dillon'], 
        'score': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 100]
       }
df = pd.DataFrame(data)
df

      name  score
0    Jason      1
1    Molly      2
2     Tina      3
3     Jake      4
4      Amy      5
5      Bob      6
6     Jack      7
7     Jill      8
8    Kelly      9
9     Mark     10
10     Kao    100
11  Dillon    100

# Calculate Non-Trimmed Mean

In [4]:
df['score'].mean()

21.25

# Calculate Mean After Trimming Off Highest And Lowest

In [5]:
stats.trim_mean(df['score'], proportiontocut=0.2)

6.5

In [6]:
stats.trim1(df['score'], proportiontocut=0.2, tail='right').mean()

5.5

In [7]:
# Trim off the highest 20% of values and view non-trimmed values
stats.trim1(df['score'], proportiontocut=0.2, tail='right')

array([ 1,  3,  2,  4,  5,  6,  7,  9,  8, 10], dtype=int64)